# Byte-compiled / cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# macOS system files
.DS_Store

# Ignore other common Python artifacts
*.egg-info/
dist/
build/

# Temporary CSV files (but keep results)
*.csv

# MOT dataset (large files)
/MOT17-01-DPM